<a style="cursor:pointer;"
[routerLink]="[index]"
routerLinkActive="active"
class="list-group-item clearfix">
      <span class="pull-left">
        <img [src]="dalam.imagePath" alt="{{dalam.name}}" class="img-responsive" style="max-height:100px">
      </span>
      <div class="pull-right">
        <h4 class="list-group-item-heading">{{dalam.name}}</h4>
        <p class="list-group-item-text">{{dalam.tahun}}</p>
        <p class="list-group-item-text">{{dalam.genre}}</p>
        <p class="list-group-item-text">{{dalam.description}}</p>
      </div>
</a>
